.now_playings {
  width: 90%;
  position: relative;
  margin-left:  auto;
  margin-right: auto;
  margin-top: 50px;
  @media screen and (max-width: 978px){
    margin-top: 50px;
  }
  // overflow: hidden;
}

.now_play_top {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  .now_playing_tilte {

  }
  .now_playing_description {

  }
}
.now_play_bottom {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  // @media all and (max-width:978px) {
  //   justify-content: space-between;
  // }
  // @media all and (max-width:420px) {
  //   justify-content: space-between;
  // }
}
