.list_sub_container {
  position: relative;
  background-color: white;
  overflow-y: scroll;
  box-sizing: border-box;
  z-index: 2;
  max-height: 400px;
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  display: block;
  .group {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: flex-start !important;
    color: #333;
    // background-color: white !important;
    flex-direction: column !important;
    box-sizing: border-box;
    font-weight: 400;
    margin: 0;
    padding: 0;
    hr {
      box-sizing: border-box;
      border-top: 0.1px solid lightblue;
      z-index: 9999;
      border-left: none;
      border-right: none;
      border-bottom: none;
      min-height: 0.1px;
      height: 0.1px;
      max-height: 0.1px;
      transform: scale(1);
      min-width: 100%;
      margin: 0;
      padding: 0;
    }
    .sub1 {
      font-size: 17px;
      padding-top: 5px;
      white-space: normal;
      padding-left: 15px;
      padding-right: 15px;
      line-height: 1.4;
      font-weight: 400;
      color: black;
    }
    .sub2 {
      line-height: 1.4;
      // padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 16px;
      // font-style: italic;
      white-space: normal;
      color: #0000FF;
      font-weight: 400;
      box-sizing: border-box !important;
      width: 100% !important;
      // display: flex !important;
      // align-items: center;

    }
  }
  .group:hover {
    background-color: #333333 !important;
    .sub1{
        color: white !important;
    }
    .sub2{
      color: white !important;
    }
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.list_sub_container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.list_sub_container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
