.card_item_people {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  // background-color: green;
  margin-bottom: 15px;
  margin-right: 0;
  padding: 0;
  box-sizing: border-box;
  @media only screen and (min-width: 0) and (max-width: 359px) {
    min-width: 48%;
    max-width: 48%;
    height: 150px;
    min-height: 150px;
    max-height: 150px;
  }
  @media only screen and (min-width: 360px) and (max-width: 420px) {
    min-width: 48%;
    max-width: 48%;
    height: 240px;
    min-height: 240px;
    max-height: 240px;
  }
  @media only screen and (min-width: 421px) and (max-width: 758px) {
    min-width: 48%;
    max-width: 48%;
    height: 280px;
    min-height: 280px;
    max-height: 280px;
  }
  @media only screen and (min-width: 759px) and (max-width: 958px) {
    min-width: 19%;
    max-width: 19%;
    height: 220px;
    min-height: 220px;
    max-height: 220px;
  }
  @media only screen and (min-width: 959px) and (max-width: 1200px) {
    min-width: 19%;
    max-width: 19%;
    height: 200px;
    min-height: 200px;
    max-height: 200px;
  }
  @media only screen and (min-width: 1201px) and (max-width: 1500px) {
    min-width: 19%;
    max-width: 19%;
    height: 250px;
    min-height: 250px;
    max-height: 250px;
  }
  min-width: 19%;
  max-width: 19%;
  height: 250px;
  min-height: 250px;
  max-height: 250px;
}

.card_item_people_container {
  background-image: url("../../images/default_image.jpg");
  background-size: cover;
  background-position: center;
  flex: 1;
  // margin: 10px;
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
  .icon_group {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .play_icon{
      margin-right: 10px;
    }
  }
  .icon_group:hover {
    opacity: 1;
    // background-color: rgba(0, 0, 0, 0.4);
  }

  .now_playing_image {
    width: 100%;
    // height: 100%;
    border-radius: 5px;
    z-index: 0;
    transition: transform 0.4s ease;
    transform-origin: 50% 50%;
    // box-sizing: border-box;
    object-fit: fill;
  }
}

.now_play_description_home {
  position: relative;
  display: block;
  font-size: 17px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  @media only screen and (max-width: 15000px) {
    width: 100%;
  }
  // background-color: yellow;
  span {
    margin: 0 !important;
    padding: 0 !important;
  }
  .now_play_title {
    padding: 0;
    margin: 0;
    // background-color: cyan;
    overflow: hidden;
    color: black;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    text-align: left;
    -webkit-box-orient: vertical;
    cursor: pointer;
  }
  .now_play_title:hover{
    text-decoration: underline;
  }
}
