.card_watch_list_container {
  width: 18%;
  //   background-color: cyan;
  overflow: hidden;
  height: 250px;
  margin: 1.25% 1%;
  box-sizing: border-box;
  position: relative;
    border-radius: 10px;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 1024px) {
    width: 23%;
  }
  @media screen and (max-width: 1024px) {
    height: 225px;
    width: 23%;
  }
  @media screen and (max-width: 600px) {
    height: 200px;
    width: 31.3333333%;
  }
  @media screen and (max-width: 480px) {
    height: 200px;
    width: 46%;
    margin: 2% 2%;
  }
  @media screen and (max-width: 350px) {
    height: 200px;
    width: 48%;
    margin: 2% 1%;
  }
  .top {
    // background-color: blue;
    position: relative;
    height: 80%;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    box-sizing: border-box;

    .movie_img {
      position: absolute;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      z-index: 1;
      .backdrop_img {
        transition: transform 0.4s ease;
        display: block;
        width: 100%;
        height: calc(0.8 * 251px);
        @media screen and (max-width: 1024px) {
          height: calc(0.8 * 226px);
        }
        @media screen and (max-width: 600px) {
          height: calc(0.8 * 201px);
        }

        object-fit: cover;
      }
    }
    .magnifying_glass {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
      //   background-color: red;
      opacity: 1;
      min-width: 100%;
      min-height: 100%;
      z-index: 999999999;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .magnifying_glass:hover {
      opacity: 1;
    }
  }
  .bottom {
    position: relative;
    box-sizing: border-box;
    height: 20%;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    z-index: 2;
    .title_film {
      height: 40%;
      color: white;
      //   background-color: red;
      span {
        text-align: center;
        font-size: 16px;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
        line-clamp: 1;
        -webkit-box-orient: vertical;
        cursor: pointer;
      }
      span:hover{
          text-decoration: underline;
      }
    }
    .heart {
      height: 60%;
      //   background-color: yellow;
      color: white;
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
  }
}
