.navbar {
  max-width: 1500px;
  box-sizing: border-box;
  position: absolute;
  display: block;
  width: 100%;
  // max-width: 100%;
  height: 65px;
  top: 0;
  padding: 0 !important;
  margin-top: 0 !important;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  display: flex;
  align-items: center;
  // background-color: red;
  box-sizing: border-box;
  @media screen and (max-width: 480px) {
    overflow-x: hidden;
  }
}
.navbar_container {
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 100%;

  box-sizing: border-box;
  width: 100%;
  // background-color: #333333;
  // background-color: rgba(0,0,0,0.3);
  align-items: center;
  margin: 0;
  padding: 0 20px;
  // overflow-x-x: hidden;
  justify-content: space-between;
  @media all and (max-width: 420px) {
    padding: 0 5px;
  }
  .logoContainer {
    cursor: pointer;
    position: relative;
    display: flex;
    z-index: 1;
    flex: 0.5;
    @media screen and (max-width: 978px) {
      flex: 1;
    }
    @media screen and (max-width: 420px) {
      flex: 1.5;
    }
    padding: 0 !important;
    margin: 0 !important;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    .logo_link {
      box-sizing: border-box;
      padding: 0 !important;
      margin: 0 !important;
      height: 65px;
      text-decoration: none;
      box-sizing: border-box;
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      // h2 {
      //   width: 100%;
      //   height: 100%;
      //   margin: 0;
      //   padding: 0;
      //   display: flex;
      //   font-size: 40px;
      //   font-weight: 700;
      //   flex-flow: row wrap;
      //   align-content: center;
      //   justify-content: center;
      // }
      .dmovie_logo {
        width: 100%;
      }
    }
    @media screen and (max-width: 978px) {
      margin-right: 10px;
    }
  }

  .search {
    flex: 2;
    @media screen and (max-width: 600px) {
      flex: 1 !important;
      align-items: flex-start;
      justify-content: flex-start !important;
    }
    @media screen and (max-width: 420px) {
      flex: 0.5 !important;
      align-items: flex-start;
      justify-content: flex-start !important;
    }
    display: flex;
    align-items: center;
    height: 60%;
    border-radius: 5px;
    z-index: 9;
    position: relative;
    // margin-left: 10px;
    @media screen and (max-width: 420px) {
      margin-left: 5px;
    }
    color: white;
    box-sizing: border-box;
    @media screen and (max-width: 820px) {
      flex: 3.5;
    }
    flex-direction: column;
    @media screen and (max-width: 420px) {
      flex-direction: row;
    }
    .search_wrapper {
      width: 99%;
      height: 100%;
      min-height: 100%;
      z-index: 9;
      @media screen and (max-width: 600px) {
        display: none;
        flex: 0.5;
        width: 0 !important;
        height: 0 !important;
        justify-content: flex-start;
      }
      .search input::-webkit-input-placeholder {
        color: white;
      }
      .inputSearch {
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        border-radius: 5px;
        height: 100%;
        border: none;
        font-size: 14px;
        color: white;
        padding-left: 10px;
      }
      ::placeholder {
        color: white;
        opacity: 1; /* Firefox */
      }

      :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: white;
      }

      ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: white;
      }

      .inputSearch:focus {
        outline: none;
        background-color: white !important;
        color: black;
      }

      .iconSearch {
        position: absolute;
        top: 0;
        right: 0;
        padding: 8px 10px;
        color: black;
        cursor: pointer;
      }
    }

    .data_results {
      background-color: white;
      box-sizing: border-box;
      padding: 0 10px;
      margin-top: 5px;
      margin-left: 10px;
      z-index: 999999999999;
      width: 100%;
      min-height: 500px !important;
      max-height: 500px !important;
      height: 500px !important;
      display: flex;
      flex-direction: column !important;
      overflow-y: scroll;
      @media screen and (max-width: 420px) {
        display: none;
        width: 0 !important;
        height: 0 !important;
        margin: 0 !important;
      }

      .data_result {
        display: flex;
        flex-direction: row;
        // background-color: yellow;
        align-items: center;
        .data_result_backdrop {
          width: 90px;
          height: 120px;
          flex: 1;
          border-radius: 5%;
          box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
          rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
          display: flex;
          align-items: center;
          background-image: url("../../images/default_image.jpg");
          background-size: cover;
          background-position: center;
          .backdrop_img_rs {
            border-radius: 5%;
            width: 90px;
            height: 121px;
          }
        }
        .data_result_content {
          flex: 7;
          display: flex;
          flex-direction: column;
          margin-left: 5px;
          .data_result_title {
            margin-top: -5px;
            font-size: 20px;
            font-weight: 600;
            color: #4656b7;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1;
            -webkit-box-orient: vertical;
          }
          .data_result_description {
            font-size: 14px;

            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4; /* number of lines to show */
            line-clamp: 4;
            -webkit-box-orient: vertical;
          }
        }
      }
    }
    .data_result:hover {
      background-color: #dbdbdb;
    }
    .search_navbar_icon {
      display: none;
      margin-left: 15px;
      // background-color: red;
      .icon_search {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28px;
      }
      @media screen and (max-width: 600px) {
        height: 100%;
        // background-color: blue;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
        font-size: 32px;
      }
    }
  }

  .nav_link {
    cursor: pointer;
    flex: 1;
    display: flex;
    justify-content: space-between;
    // @media screen and (max-width: 420px) {
    //   margin: 0;
    //   align-items: center;
    //   justify-content: flex-end;
    //   flex: 0.5;
    // }
    @media screen and (max-width: 600px) {
      cursor: default;
      margin: 0;
      align-items: flex-end;
      justify-content: flex-end;
      flex: 2;
    }
    @media screen and (max-width: 420px) {
      cursor: default;
      margin: 0;
      align-items: flex-end;
      justify-content: flex-end;
      flex: 2;
      margin-right: 5px;
    }
    .nav_bar_menu {
      cursor: pointer;
      display: none;
      margin-left: 30px;
      text-decoration: none;
      .link {
        color: white;
        text-decoration: none;
        font-size: 18px;
        font-weight: 420;
      }
      @media screen and (max-width: 1250px) {
        margin-left: 30px;
        display: inline-block;
        // position: relative;
        .nav_bar_menu_icon {
          color: white;
          font-size: 28px;
        }
      }
      @media screen and (max-width: 480px) {
        margin-right: 15px;
        align-items: flex-end;
      }
      @media screen and (max-width: 420px) {
        margin: 0;
        align-items: flex-end;
      }
    }
    .nav_link_item {
      // background-color: red;
      display: flex;
      margin-left: 10px;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      @media screen and (max-width: 1250px) {
        display: none !important;
      }
      .link {
        color: white;
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
      }

      .link:hover {
        text-decoration: underline;
      }
    }
  }

  .profile {
    // box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    // overflow-x: hidden;
    position: relative;
    flex: 0.5;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
    @media screen and (max-width: 600px) {
      flex: 0.5;
    }
    @media screen and (max-width: 420px) {
      flex: 0.7;
    }
    .profile_items {
      display: flex;
      align-items: center;
      //cursor: pointer;
      .register {
        color: white;
        font-size: 18px;
        font-weight: 600;
        padding: 0 !important;
        margin: 0 !important;
      }
      .login {
        color: #37474f;
        cursor: pointer;
        padding: 8px 16px;
        background-color: white;
        margin-left: 15px;
        font-size: 18px;
        font-weight: 550;
        border: none;
        border-radius: 3px;
      }
      @media screen and (max-width: 820px) {
        display: none !important;
      }
    }

    .nav_bar_profile {
      display: none;
      // cursor: pointer;
      // margin-left: 30px;
      box-sizing: border-box;

      text-decoration: none;
      .link {
        color: white;
        text-decoration: none;
        font-size: 18px;
        font-weight: 400;
      }
      @media screen and (max-width: 820px) {
        // margin-left: 30px;
        display: flex;
        // position: relative;
        .nav_bar_profile_icon {
          color: white;
          font-size: 28px;
        }
      }
    }

    .nav_bar_profile_login {
      // display: flex;
      // align-items: center;
      height: 100%;
      border-radius: 5px;
      position: relative;
      // background-color: red;
      width: 100%;
      // margin-left: 10px;
      color: white;
      box-sizing: border-box;
      // flex-direction: column;
      // background-color: green;
      .tiltle_menu {
        position: absolute;
        height: 100%;
        min-height: 100%;
        width: 100%;
        // background-color: blue;
        right: 0;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: flex-end;
        // cursor: pointer;
      }
      @media screen and (max-width: 820px) {
        .nav_bar_profile_icon {
          color: white;
          font-size: 28px;
        }
      }
    }
  }
}

.content_menu {
  // width: 0 !important;
  // height: 0 !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: none;
  position: absolute;
  z-index: 5;
  width: 140px;
  max-width: 140px;
  height: auto;
  right: 10px;
  top: 60px;
  align-items: center;
  justify-content: center;
  background-color: white;
  // display: flex;
  flex-direction: column;
  border-radius: 2px;
  color: black;
  @media screen and (max-width: 420px) {
    min-width: 50px;
  }
  .menu_item {
    width: 120px;
    margin-bottom: 2px;
    @media screen and (max-width: 420px) {
      min-width: 50px;
    }
    padding: 5px;
    font-size: 18px;
  }
  .menu_item:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }
}

.input_search {
  position: absolute;
  box-sizing: border-box;
  border: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 99;
  background-color: white;
  padding-left: 15px;
  font-size: 14px;
  border: 1px solid #e7e7e7;
}

.input_search:focus {
  outline: none;
}

.icon_close {
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 28px;
  color: red;
  margin-right: 20px;
  margin-top: 18px;
  cursor: pointer;
}

.list_box_result {
  position: absolute;
  background-color: white;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  height: 65vh;
  overflow-x: hidden;
  scrollbar-width: none;
  overflow-y: scroll;
  z-index: 999999;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-sizing: border-box;
  .list_box_row {
    // background-color: blue;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
    // align-items: center;
    margin-bottom: 8px;
    margin-top: 8px;
    position: relative;
    .left_row {
      position: relative;
      flex: 1.5;
      width: 90px;
      height: 120px;
      margin-left: 5px;
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
        rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      border-radius: 10px;
      // background-color: cyan;
      .left_row_backdrop {
        position: relative;
        background-image: url("../../images/default_image.jpg");
        background-size: cover;
        background-position: center;
        width: 90px;
        height: 120px;
        object-fit: cover;
        border-radius: 10px;
        // border: 1px solid #3f51b5;
      }
    }
    .right_row {
      position: relative;
      width: 100%;
      height: 100%;
      flex: 6.5;
      display: flex;
      flex-direction: column;
      color: black;
      margin: 0 5px !important;
      justify-content: center;
      z-index: 99999999;
      .right_row_title {
        font-size: 18px;
        font-weight: 600;
        color: #3f51b5;
      }
      .right_row_description {
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5; /* number of lines to show */
        line-clamp: 5;
        -webkit-box-orient: vertical;
      }
    }
  }
}
